body {
  background-color: #172554;
}
.galleryGrid {
  display: grid;
  grid-auto-flow: column dense;
  grid-auto-columns: 1fr;
}
div.gallery {
  margin: 5px;
  border: 1px solid #334155;
  float: left;
  border-radius: 0.25rem;
}

div.gallery:hover {
  border: 1px solid pink;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #334155;
  border-radius: 0.25rem;
}
.actualList {
  display: grid;
  grid-auto-flow: row dense;
  row-gap: 1rem;
  color: white;
}
